*.class
*.log

.DS_Store

# IDEA AND ECLIPSE
.classpath
.idea/
.project

# sbt specific
.cache
.history/
dist/*
target/
lib_managed/
src_managed/

project/boot/
project/project/
project/target/
project/plugins/project/
